.main-table {
    height: 70vh;
    overflow: scroll;
    margin: 0;
    padding: 0;
    border: solid black;
}

.tHeader {
    background: black;
    color:white;
    height: 10vh;
    width: 10vw;
    overflow: scroll;
    text-transform: capitalize;
}
.content {
    height: 10vh;
    overflow: scroll;
    border: solid black;
}
.dataStyler {
    border: solid black;
    padding: 10px;
    text-align: center;
    max-width: 50vw;
    min-width: 250px;
    text-transform: capitalize;
}

.buttonStyle {
    width: 5vw;
    height: 5vh;
    background: black;
}

.searchFilter {
width: 5vw;
height: 5vh;
}

.search {
    width: 20vw;
    height: 5vh;
    margin: 10px;
}