.main-table {
    background: yellow;
    height: 70vh;
    overflow: scroll;
    margin: 0;
}

.tHeader {
    background: black;
    color:white;
    height: 10vh;
    width: 10vw;
    overflow: scroll;
}
.content {
    background: pink;
    height: 10vh;
    overflow: scroll;
}

