<div>
    <div class="main-table">
        <br/>
        <div class ="serarchFilter">
            <select name="" id="" (change)="onFilterChange($event)">
                <option value="">Select Filter Type</option>
                <option *ngFor="let c of columns" [value]="c">{{ c }}</option>
              </select>
            <input *ngIf="filter" type="text" class="search" 
              placeholder ="Search by {{ filter }}" 
              [(ngModel)]="query" />
    
              <button *ngIf="filter" 
                (click)="updateFilterResults()">Search</button>
          </div>
      <table class= "">
        <thead>
          <tr>
            <th class="tHeader"  *ngFor="let c of columns">
              {{ c }}
            </th>
            <th class="tHeader">
              Status Report
            </th>
          </tr>
        </thead>
        <tbody >
          <tr class="content" *ngFor="let people of peoples | async">
            <td *ngFor="let c of columns" class="dataStyler">
              {{people[c]}} 
            </td>
            <td class="dataStyler">
              <button (click)="onSubmitStatus(people)" class="buttonStyle">Submit</button
                ></td>
          </tr>
        </tbody>
      </table>
    </div>

    <h1>Pagination</h1>

    <app-pagination *ngIf="(peoples | async)" class="pagi"
      [limit]="limit "
      [page]="page"
      [pages]="pages"
      [resultsLimits]="resultsLimits"
      (limitChanged)="onLimitChanged($event)"
      (goPage)="onPage($event)"
      (goPrev)="onPrev($event)"
      (goNext)="onNext($event)"
      ></app-pagination>
  </div>
