.main-container {
    height: 97vh;
    outline: black;
}

.main-table {
    height: 95vh;
    overflow: hidden;;
}
.footer {
    color: black;
}

.header {
    color: black;
}
.pagi {
    color: black;
}