<!--The content below is only a placeholder and can be replaced.-->

<div class="main-container">

    <app-header class= "header"></app-header>
    
        <app-table class ="main-table"></app-table>

            <app-footer class ="footer">
        
            </app-footer>

        <app-pagination class="pagi"></app-pagination>
            <!-- 
            Calls for Pagination;    
            [count]="someCountVar"
            [page]="somePageVar"
            [perPage]="somePerPageVar"
            [pagesToShow]="5"
            [loading]="someLoadingVar"
            [onPrev]="prevPage()"
            [onNext]="nextPage()"
            [onPage]="goToPage($event)" -->
</div>

    