.main-container {
    background:black;
    height: 97vh;
}

.main-table {
    height: 95vh;
    overflow: hidden;;
}
.footer {
    color: white;
}

.header {
    color: white;
}
.pagi {
    color: white;
}